@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello there!</h1>
    <p>The current time is @DateTime.Now</p>
    <p>dana.westfall77@stclairconnect.ca</p>
   
</div>
